<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title> IOSD | Dashboard</title>
      <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
   </head>
   <body>
      <div class="wrapper">
         <nav>
            <ul>
               <li><h1>UniVent</h1></li>
            </ul>
         </nav>
         <div class="sidebar">
            <ul>
               <li>Create Event</li>
               <li>Your Events</li>
               <li>Settings</li>
               <li>Logout</li>
            </ul>
         </div>
         <div class="content">
            <h2>your Events</h2>
         </div>
      </div>
   </body>
</html>
