<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title id="title">Dashboard</title>
      <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
   </head>
   <body>
      <div class="wrapper">
         <nav>
            <ul>
               <li><h1>UniVent</h1></li>
            </ul>
         </nav>
         <div class="sidebar">
            <ul>
               <li id="currentUser"> username</li>
               <li id="createEvent">Create Event</li>
               <li id="listEvents">Your Events</li>
               <li id="profile">Your Profile</li>
               <li id="logout">Logout</li>
            </ul>
         </div>
         <div class="content" id="content">
            <h2 class="welcome">Welcome to Your DashBoard ! </h2>

         </div>
      </div>
   </body>
   <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
   <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   <script src="/js/dashboard.js"></script>
</html>

<!--


<h3 >Create Form</h3>
<form id="eventForm">
<input autofocus type="text" name="event_name" value="" placeholder="event_name" id="event_name"><br>
<input name="host_college" placeholder="host_college" type="text" id="host_college"><br>
<input name="venue" placeholder="venue" type="text" id="venue"><br>
<input name="description" placeholder="description" type="text" id="description"><br>
<input name="society" placeholder="society" type="text" id="society"><br>
<input name="form_link" placeholder="form_link" type="text" id="form_link"><br>
Upload Cover Photo : <input type="file" id="file-select" accept="image/jpeg, image/jpg" id="cover_link"/><br>
<input name="number_of_participants" placeholder="number_of_participants" type="text" id="number_of_participants"><br>
<input name="date" placeholder="date" type="date" id="date"><br>
<input name="prizes_description" placeholder="prizes_description" type="text" id="prizes_worth"><br>
<input type="text" name="tags" placeholder="add tags on lowercase seprated by comma"><br>
<input name="event_incharge" placeholder="Event Incharge Name" type="text" id="event_incharge"><br>
<input type="text" name="mobile_number" value="mobile_number" placeholder="Event Incharge Mobile Number">
<progress value="0" max="100" id="progressBar"></progress>
<input type="submit" name="register" value="Create Event" id="newEventSubmit" class="file-submit">
</form>

-->
