<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
   </head>
   <body>
      <div class="wrapper">
         <div class="sidebar">
            <ul>
               <li>Create Event</li>
               <li>Your Events</li>
               <li>Settings</li>
            </ul>
         </div>
         <div class="content">
            <h1>your Events</h1>
         </div>
      </div>
   </body>
</html>
