<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title id="title">Dashboard</title>
      <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
   </head>
   <body>
      <div class="wrapper">
         <nav>
            <ul>
               <li><h1>UniVent</h1></li>
            </ul>
         </nav>
         <div class="sidebar">
            <ul>
               <li id="currentUser"> username</li>
               <li id="createEvent">Create Event</li>
               <li id="listEvents">Your Events</li>
               <li id="profile">Your Profile</li>
               <li id="logout">Logout</li>
            </ul>
         </div>
         <div class="content" id="content">


         </div>
      </div>
   </body>
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   <script src="/js/dashboard.js"></script>
</html>
