<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title id="title">Dashboard</title>
      <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
   </head>
   <body>
      <div class="wrapper">
         <nav>
            <ul>
               <li><h1>UniVent</h1></li>
            </ul>
         </nav>
         <div class="sidebar">
            <ul>
               <li id="currentUser"></li>
               <li id="createEvent">Create Event</li>
               <li id="listEvents">Your Events</li>
               <li id="profile">Your Profile</li>
               <li id="changePassword">change Password</li>
               <li id="logout">Logout</li>
            </ul>
         </div>
         <div class="content" id="content">
            <h2 class="welcome">Welcome to Your DashBoard ! </h2>

         </div>
      </div>
   </body>
   <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
   <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   <script src="/js/dashboard.js"></script>
</html>
