<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   	<!-- SEO tags -->
   	<meta name="description" content="Wondering which event to attend next ? Univent app provides all the latest updates on all the college events">
   	<meta name="keywords" content="event, fest, app, univent, register, university">
   	<meta property="og:title" content="UniVent">
   	<meta property="url" content="https://Univent.heroku.com/">
   	<meta property="og:description" content="Wondering which event to attend next ? Univent app provides all the latest updates on all the college events">

      <link rel="stylesheet" type="text/css" href="/css/index.css">
      <title>Univent</title>
   </head>
   <body>
      <h1>UniVent</h1>
      <h2>Download the app, <span>Now!</span></h2>
   </body>
   <script type="text/javascript" src="/js/index.js">
   </script>
</html>
