<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Univent | Login</title>
      <link rel="stylesheet" type="text/css" href="/css/login.css">
   </head>
   <body>
      <div class="container">
         <h1>UniVent</h1>
         <div class="login">
               <h2>Login</h2>
               <form class="" action="#" method="post">
                  <input autofocus name="email" placeholder="email" type="email"><br>
                  <input  name="password" placeholder="password" type="password"><br>
                  <input type="submit" name="Login" value="Login">
               </form>
         </div>
      </div>
   </body>
   <script src="/js/login.js"></script>
</html>
