<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Univent | Login</title>
      <link rel="stylesheet" type="text/css" href="/css/login.css">
   </head>
   <body>
      <div class="container">
         <h1>UniVent</h1>
         <div id="login">
               <h2>Login</h2>
               <form id="login_form">
                  <input autofocus name="society_email" placeholder="society_email" type="email" id="society_email"><br>
                  <input  name="password" placeholder="password" type="password" id="password"><br>
                  <input type="submit" name="Login" value="Login" id="submit">
               </form>
         </div>
      </div>
   </body>
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   <script src="/js/login.js"></script>
</html>
