<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Univent | Register</title>
      <link rel="stylesheet" type="text/css" href="/css/register.css">
   </head>
   <body>
      <div class="wrapper">
      <h1>UniVent</h1>
      <div id="register">
            <h2>Register</h2>
               <form id="register_form">
                  <input name="email" placeholder="society_email" type="email" id="society_email">
                  <p id="society_email_err" class="Error"></p>
                  <input name="password" placeholder="password" type="password" id="password">
                  <p id="password_err" class="Error"></p>
                  <input type="submit" name="submit" id="submit" value="Register">
         </div>
      </div>
   </body>
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   <script src="/js/register.js"></script>
</html>
