<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Univent | Register</title>
      <link rel="stylesheet" type="text/css" href="/css/register.css">
   </head>
   <body>
      <div class="wrapper">
      <h1>UniVent</h1>
      <div class="register">
            <h2>Register</h2>
               <form class="" action="#" method="post">
                  <input autofocus type="text" name="name" value="" placeholder="name">
                  <input name="email" placeholder="email" type="email">
                  <input name="password" placeholder="password" type="password">

                  <!--
                     acc_type = organiser
                  -->
                  <input type="submit" name="register" value="Register">
               </form>
         </div>
      </div>
   </body>
   <script src="/js/login.js"></script>
</html>
