@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

body{
   background: #e53935;
   color: white;
   font-family: 'Josefin Slab', serif;
}
h1{
   font-size: 5rem;
   width: 100vw;
   text-align: center;
   margin-top: calc(50vh - 2.5rem);
}
