@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

*{
   margin: 0;
   padding: 0;
}
body{
   background: #e53935;
   color: white;
   font-family: 'Josefin Slab', serif;
}
h1{
   font-size: 5rem;
   width: 100vw;
   margin-top : 1em;
   text-align: center;
}
h2{
   font-size: 3rem;
   font-weight: 200;
   text-align: center;
   color: #607d8b;
   margin-top: .7em;
}
.register{
   height: 40vh;
   width: 20vw;
   border-radius: .3em;
   margin:auto;
   background: #ffffff;
   padding: 10px;
   margin-top: 5em;
   margin-bottom: 4em;
}
input{
   position: relative;
   outline: none;
   display: block;
   width: 10rem;
   height: 2rem;
   margin: auto;
   font-size: .8rem;
   margin:5px auto;
   padding: 5px;
}


input[type="text"]{
   margin-top: 2em;
}

input[type="submit"]{
   border-radius: .3em;
   margin-top: 20px;
   color: white;
   border: none;
   background: #455a64;
   padding: 10px;
   text-decoration: none;
   cursor: pointer;
   outline: none;
}
